<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
<html lang="en">
    <head>
        {% block header %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Grocery lists in the cloud!">
        <meta name="author" content="Kevin Yokley">
        <link rel="shortcut icon" type="image/png" href="{% static "assets/favicon.ico" %}"/>
        <link href="{% static "bootstrap-dist/css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "bootstrap-dist/css/bootstrap-theme.css" %}" rel="stylesheet">
        <link href="{% static "datatables/dataTables.bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "assets/home.css" %}" rel="stylesheet">
        {% endblock %}

        {% block title %}
        <title>Vittlify</title>
        {% endblock %}

    </head>

    <body>
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            {% block navbar%}
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/vittlify/">Vittlify</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                    {% if loggedin %}
                        <p class="navbar-text">Signed in as <a href="/vittlify/settings/" class="navbar-link">{{ user.username }}</a></p>
                        <li><a href="/vittlify/signout/">Log out</a></li>
                    {% else %}
                        <li><a href="/vittlify/signin/">Log In</a></li>
                    {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
            {% endblock %}
        </div>

        <div id="groceries-app-container" class="container">

            {% if not loggedin %}
            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">
                {% block jumbotron %}
                <h1>Welcome to the Vittlify</h1>
                <p></p>
                {% endblock %}
            </div>
            {% else %}
                <div>
                    <ul class="nav nav-tabs">
                        {% for shopping_list in shopping_lists %}
                            {% if forloop.first %}
                            <li class="active"><a data-toggle="tab" href="#shopping-list-{{ shopping_list.id }}">{{ shopping_list.name }}</a></li>
                            {% else %}
                            <li><a data-toggle="tab" href="#shopping-list-{{ shopping_list.id }}">{{ shopping_list.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-content">
                {% for shopping_list in shopping_lists %}
                {% if forloop.first %}
                <div id="shopping-list-{{ shopping_list.id }}" class="tab-pane fade in active">
                {% else %}
                <div id="shopping-list-{{ shopping_list.id }}" class="tab-pane fade">
                {% endif %}
                    <div class="row">
                        <div class="col-xs-12 col-md-7 shopping_list-tab">
                            <div class="table-responsive shopping_list-table">
                                <table id="table-shopping_list-{{ shopping_list.id }}" class="table table-striped table-hover datatable">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Done</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in shopping_list.items.all %}
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-link">
                                                {{ item.name }}
                                                </button>
                                            </td>
                                            <td class="checkbox-div">
                                                {% if item.done %}
                                                <input type="checkbox" id="checkbox-{{shopping_list.id}}-{{ item.id }}" name="checkbox-{{item.name}}" checked />
                                                {% else %}
                                                <input type="checkbox" id="checkbox-{{shopping_list.id}}-{{ item.id }}" name="checkbox-{{item.name}}" />
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 shopping_list-tab">
                            <div class="panel panel-default">
                                <div class="panel-heading">Add new item</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="new-item-name-{{shopping_list.id}}">Name:</label>
                                        <input type="text" class="form-control" id="new-item-name-{{shopping_list.id}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="new-item-comment-{{shopping_list.id}}">Comments:</label>
                                        <textarea class="form-control" id="new-item-comment-{{shopping_list.id}}" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button id="add-btn-{{shopping_list.id}}" class="btn btn-default" onclick="addItem('{{csrf_token}}', {{shopping_list.id}});">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}

        </div> <!-- /container -->

        {% block main %}
        {% endblock %}
    </body>

    {% block javascript_imports %}
        <script src="{% static "jquery/jquery-2.1.4.min.js" %}"></script>
        <script src="{% static "bootstrap-dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "datatables/jquery.dataTables.min.js" %}"></script>
        <script src="{% static "datatables/dataTables.bootstrap.min.js" %}"></script>
        <script src="{% static "assets/groceries.js" %}"></script>
    {% endblock %}

    {% block javascript %}
        <script type="text/javascript">
            $(document).ready(function(){
                {% for shopping_list in shopping_lists %}
                    tables['table-shopping_list-{{shopping_list.id}}'] = $('#table-shopping_list-{{ shopping_list.id }}').DataTable();
                {% endfor %}

                $('input[name^="checkbox-"]').click(function(){
                    var item_id = this.id.match('[0-9]+$');
                    var checked = this.checked;
                    updateRow('{{ csrf_token }}', item_id, checked);
                });
            });
        </script>
    {% endblock %}
</html>
