{% extends "groceries/home.html" %}

<!DOCTYPE html>
{% load staticfiles %}

{% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Grocery lists in the cloud!">
    <meta name="author" content="Kevin Yokley">
    <link rel="shortcut icon" type="image/png" href="{% static "assets/favicon.ico" %}"/>
    <link href="{% static "bootstrap-dist/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-dist/css/bootstrap-theme.css" %}" rel="stylesheet">
    <link href="{% static "datatables/dataTables.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/home.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-duallistbox-master/bootstrap-duallistbox.min.css" %}" rel="stylesheet">
{% endblock %}

{% include title %}

{% include navbar %}


{% block main %}
<div class="page-header">
  <h1>Settings</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">User info</h3>
  </div>
  <div class="panel-body">
      <div class="row">
          <div class="col-xs-5">
              <div class="form-group">
                <label for="user-email-text">Email:</label>
                <input type="text" class="form-control" id="user-email-text" value="{% if owner.email and owner.email != 'None' %}{{ owner.email }}{% endif %}" />
              </div>
              <div class="form-group">
                <label for="user-email-frequency-select">Frequency:</label>
                <select class="form-control" id="user-email-frequency-select">
                    <option value="daily" {% if owner.email_frequency == 'daily'%}selected{% endif %}>Daily</option>
                    <option value="weekly" {% if owner.email_frequency == 'weekly'%}selected{% endif %}>Weekly</option>
                </select>
              </div>
              <div class="form-group">
                <button id="save-user-email-btn" class="btn btn-default" onclick="saveEmailText();">Save</button>
                <button id="clear-user-email-btn" class="btn btn-default" onclick="clearEmailText();">Clear</button>
              </div>
          </div>
          <div class="col-xs-7">
            <span id="email-saved-text"></span>
          </div>
      </div>
  </div>
</div><div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Your lists</h3>
  </div>
  <div class="panel-body">
      <div class="row">
          <div class="col-xs-12 col-md-7">
              <div class="form-group">
                <label for="owned-lists-select">Active lists:</label>
                <select id="owned-lists-select" name="owned-lists" size="5" class="form-control" onchange="loadCategories();">
                    {% for owned_list in owned_lists %}
                        <option value="owned_list_opt-{{ owned_list.id }}">{{ owned_list.name }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <button id="delete-list-btn" class="btn btn-default" onclick="deleteShoppingList();">Delete List</button>
              </div>
          </div>
          <div class="col-xs-12 col-md-5">
              <div class="form-group">
                    <label for="new-list-name">Add new list:</label>
                    <input type="text" class="form-control" id="new-list-name">
              </div>
              <div class="form-group">
                  <button id="add-list-btn" class="btn btn-default" onclick="addShoppingList({{owner.id}});">Add List</button>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-md-7">
              <div class="form-group">
                <label for="list-categories-select">List Categories:</label>
                <select id="list-categories-select" size="5" class="form-control">
                </select>
              </div>
          </div>
          <div class="col-xs-12 col-md-5">
              <div class="form-group">
                  <label for="new-category-name">New Category:</label>
                  <input type="text" class="form-control" id="new-category-name"/>
              </div>
              <div class="form-group">
                  <button id="add-category-btn" class="btn btn-default" onclick="">Add Category</button>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sharing</h3>
  </div>
  <div class="panel-body">
      <div class="form-group">
        <label for="shopper-select">Other User:</label>
        <select id="shopper-select" class="form-control" onchange="refreshSharedLists();">
            {% for shopper in shoppers %}
                <option value="user-select-{{ shopper.id }}">{{ shopper.user.username }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <select multiple id="sharing-select" size="5" class="form-control" onchange="updateSharedList();">
        </select>
      </div>
  </div>
</div>
{% endblock %}

{% block javascript_imports %}
    <script src="{% static "jquery/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "bootstrap-dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "datatables/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "assets/ajaxSetup.js" %}"></script>
    <script src="{% static "assets/settings.js" %}"></script>
    <script src="{% static "bootstrap-duallistbox-master/jquery.bootstrap-duallistbox.min.js" %}"></script>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            token = '{{ csrf_token }}';
            owner_id = '{{ owner.id }}';

            sharing_select = $('#sharing-select').bootstrapDualListbox({
              nonSelectedListLabel: 'Available Lists',
              selectedListLabel: 'Shared',
              preserveSelectionOnMove: false,
              moveOnSelect: true,
              showFilterInputs: false
            });

            refreshSharedLists();
        });
    </script>
{% endblock %}
