{% extends "groceries/home.html" %}
<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
{% include title %}

{% include css %}

{% include navbar %}

    <div class="jumbotron">
        {% block jumbotron %}
            {% if not loggedin %}
                <h1>Grocery lists in the cloud!</h1>
                <p></p>
            {% else %}
                <h1>Logged In!</h1>
                <h3>You have logged in successfully</h3>
                <a href="/vittlify/">Go Home</a>
            {% endif %}
        {% endblock %}
    </div>

    <div class="container">
        {% block main %}
            {% if not loggedin %}
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                  <form action="{% url 'groceries:signin' %}" class="form-signin" role="form" method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Sign In" />
                  </form>
                </div>
                <div class="col-xs-2"></div>
            </div>
            {% endif %}
        {% endblock %}
    </div>

{% include javascript %}
