{% extends "groceries/home.html" %}

<!DOCTYPE html>
{% load staticfiles %}

{% include header %}

{% include title %}

{% include navbar %}

{% block main %}
<div class="page-header">
  <h1>Success</h1>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Upload Successful!</h3>
  </div>
  <div class="panel-body">
      File was successfully imported into the {{ shopping_list.name }} list. You will be redirected back to the home screen shortly.
  </div>
</div>
{% endblock %}

{% block javascript_imports %}
    <script src="{% static "jquery/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "bootstrap-dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "datatables/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "assets/ajaxSetup.js" %}"></script>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            setTimeout("location.href = '/';",5000);
        });
    </script>
{% endblock %}
