body { padding-top: 70px; }
.shopping_list-tab { padding-top: 10px; }
.shopping_list-table { padding-top: 10px; }
.saved-message-span { padding-left: 10px; }
#groceries-app-container .checkbox-div {vertical-align: middle;}
.hidden-span {
    display: none;
}
